<div class="main-content-container">
  <div style="width: 100%;">
    <img src="https://thumbs.dreamstime.com/b/manifesto-di-carta-benvenuto-con-i-colpi-variopinti-della-spazzola-125370796.jpg" style="width: 100%;" alt="">
  </div>
  <div class="main-content-product-row">
    <div class="main-content-product-row-title">
      Nuovi prodotti
    </div>
    <div class="main-content-product-row-products">
      <app-main-content-product-card *ngFor="let product of newProducts" [product]="product" [quantity]="1">
      </app-main-content-product-card>
    </div>
  </div>


  <div class="main-content-product-row">
    <div class="main-content-product-row-title">
      Potrebbe interessarti
    </div>
    <div class="main-content-product-row-products">
      <app-main-content-product-card *ngFor="let product of randomProducts" [product]="product" [quantity]="1">
    </app-main-content-product-card>

    </div>
  </div>

</div>
