<div class="card-container">
  <div class="card-title">
    <p>Ciao {{currentUser.first_name + " " + currentUser.last_name}} </p>
    <p>Da questa pagina puoi gestire i tuoi ordini, prodotti, vendite e le tue informazioni personali</p>
  </div>
  <div class="card-content-container">

    <div class="card-content" *ngFor="let item of menuItems">
      <mat-card class="card-mod" [routerLink]="item.route">
        <mat-card-content>
            <div class="card-text">
              <mat-icon class="card-icon">{{item.icon}}</mat-icon>
              <span class="card-icon-text">{{item.text}}</span>
            </div>
        </mat-card-content>
    </mat-card>
    </div>

    <div class="card-content">
      <mat-card class="card-mod">
        <mat-card-content>
            <div class="card-text">
              <mat-icon class="card-icon">no_meeting_room</mat-icon>
              <span class="card-icon-text">Esci</span>
            </div>
        </mat-card-content>
    </mat-card>
    </div>

  </div>


</div>
