.search-grid
{
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: white;
}

.search-grid-filter
{
  display: flex;
  flex-direction: column;
}

.search-grid-content
{
  display: flex;
  flex-direction: column;
}

.product-content-paginator-container
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mat-grid-mod
{
  min-height: 80vh;
  height: fit-content!important;
}

.mat-grid-mod *
{
  background-color: white;
}
.mat-grid-tile
{
  overflow: visible!important;
}

.product-content-paginator
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.product-content
{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.product-filter-container
{
  flex-direction: column!important;
  justify-content: flex-start!important;
  align-items: center;
  text-align: center!important;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1em;
}
.product-filter
{
  width: 100%;
  padding-bottom: 1em;

}

.product-filter-title{
  font-weight: 500;
  font-size: 1.25em;
}

.product-filter-component, .product-filter-title
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

::ng-deep .mat-list-item-content
{
  padding-left: 0!important;
}

.product-filter-component #minPrice, .product-filter-component #maxPrice
{
  width: 30%;
}

.product-filter input::-webkit-outer-spin-button,
.product-filter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.product-filter input[type=number] {
  -moz-appearance: textfield;
}
