<div style="width: 100%;height: 100%">
  <mat-stepper class="mat-stepper-custom" linear>

    <mat-step label="Carrello" style="height: 100%;" >

      <div  class="cart-product-container" >
        <div class="cart-product">
          <mat-card  class="cart-product" >
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

              <mat-card-content>
                <div class="cart-product-content">
                  <div class="cart-product-content-title">
                      Lenovo Tablet
                  </div>
                  <div class="cart-product-content-price">
                      360
                  </div>
                  <div class="cart-product-content-quantity">
                    <div class="product-add">
                      <button color="primary" class="product-add-minus" style="width : 2em;" >-</button>
                      <input type="number" class="product-add-quantity" value="1">
                      <button  color="primary" class="product-add-plus" style="width : 2em;">+</button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
        </div>

        <div class="cart-product">
          <mat-card  class="cart-product" >
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

              <mat-card-content>
                <div class="cart-product-content">
                  <div class="cart-product-content-title">
                      Lenovo Tablet
                  </div>
                  <div class="cart-product-content-price">
                      360
                  </div>
                  <div class="cart-product-content-quantity">
                    <div class="product-add">
                      <button color="primary" class="product-add-minus" style="width : 2em;" >-</button>
                      <input type="number" class="product-add-quantity" value="1">
                      <button  color="primary" class="product-add-plus" style="width : 2em;">+</button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
        </div>

        <div class="cart-product">
          <mat-card  class="cart-product" >
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

              <mat-card-content>
                <div class="cart-product-content">
                  <div class="cart-product-content-title">
                      Lenovo Tablet
                  </div>
                  <div class="cart-product-content-price">
                      360
                  </div>
                  <div class="cart-product-content-quantity">
                    <div class="product-add">
                      <button color="primary" class="product-add-minus" style="width : 2em;" >-</button>
                      <input type="number" class="product-add-quantity" value="1">
                      <button  color="primary" class="product-add-plus" style="width : 2em;">+</button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
        </div>

        <div class="cart-product">
          <mat-card  class="cart-product" >
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

              <mat-card-content>
                <div class="cart-product-content">
                  <div class="cart-product-content-title">
                      Lenovo Tablet
                  </div>
                  <div class="cart-product-content-price">
                      360
                  </div>
                  <div class="cart-product-content-quantity">
                    <div class="product-add">
                      <button color="primary" class="product-add-minus" style="width : 2em;" >-</button>
                      <input type="number" class="product-add-quantity" value="1">
                      <button  color="primary" class="product-add-plus" style="width : 2em;">+</button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
        </div>

        <div class="cart-product">
          <mat-card  class="cart-product" >
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

              <mat-card-content>
                <div class="cart-product-content">
                  <div class="cart-product-content-title">
                      Lenovo Tablet
                  </div>
                  <div class="cart-product-content-price">
                      360
                  </div>
                  <div class="cart-product-content-quantity">
                    <div class="product-add">
                      <button color="primary" class="product-add-minus" style="width : 2em;" >-</button>
                      <input type="number" class="product-add-quantity" value="1">
                      <button  color="primary" class="product-add-plus" style="width : 2em;">+</button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div>
        <button mat-raised-button color="primary" matStepperNext mat-button>Next</button>
      </div>
    </mat-step>

    <mat-step label="Indirizzo di spedizione">

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Riepilogo">

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    </mat-stepper>
</div>
