.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mat-toolbar .toolbar-menu
{
  display: flex;
  justify-content: center;
  align-items: center;
  width:90%;
}

.mat-toolbar .toolbar-menu a
{
  padding-left: 2em;
  padding-right: 2em;
}

.toolbar-content
{
  width:100%;
  padding-right: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
}

.toolbar-search-container
{
  width: 100%;
  border: 2px solid #ffd740;
  border-radius: 5px;
  margin-right: 5em;
  display: flex;
  flex-direction: row;
}
.toolbar-search {
  width: 100%;
  background-color: #673ab7;
  color: #f8f9fa;
  border: none!important;

}
.toolbar-search:focus
{
  outline: none!important;
}

.toolbar-search::placeholder{
  color: #f8f9fa;
}
.toolbar-store-name
{
  margin-right: 2em;
  cursor: pointer;
}
