<div class="cart-product" *ngIf="product">
  <mat-card  class="cart-product" >
      <mat-card-content>
        <div class="cart-product-content">
          <div class="cart-product-content-title" routerLink="/products/{{product.id}}">
              {{product.name}}
          </div>
          <div class="cart-product-content-price">
            {{product.price | currency:"EUR"}}
          </div>
          <div class="product-card-buy" *ngIf="product.quantity">
            <div class="product-add">
              <button color="primary" class="product-add-minus" style="width : 2em;" (click)="remove()">-</button>
              <input type="number" class="product-add-quantity" [(ngModel)]="quantity" >
              <button  color="primary" class="product-add-plus" style="width : 2em;" (click)="add()">+</button>
            </div>
            <button mat-raised-button color="primary" (click)="addToCart()"><mat-icon>shopping_cart</mat-icon></button>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
</div>
