<div class="shopping-cart-container">
    <mat-stepper #stepper class="mat-stepper-custom" linear>

      <mat-step label="Carrello" >

        <div style="display: grid; grid-template-columns: 3fr 2fr;">
          <div  class="cart-product-container">
            <app-shopping-cart-product-card *ngFor="let cartProduct of productList" [cartProduct]="cartProduct"></app-shopping-cart-product-card>
          </div>


          <div style="margin: 0 2em;">
            <mat-card>
                <mat-card-header class="price-header">
                    <mat-card-title>Spese</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="partial-price-container">
                      <div class="price-row" *ngFor="let cartProduct of productList">
                        <div class="price-row-title">
                          <span class="price-row-product">{{cartProduct.product.name}}</span> x <span class="price-row-quantity">{{cartProduct.quantity}}</span>
                        </div>
                        <div class="price-row-price">
                          <span class="price-row-price-value">{{cartProduct.product.price*cartProduct.quantity | currency:"EUR"}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="total-price-container" *ngIf="productList.length">
                      <div class="price-row">
                        <div class="price-row-title">
                          <span class="price-row-product">Totale</span>
                        </div>
                        <div class="price-row-price">
                          <span class="price-row-price-value">{{totalPrice | currency:"EUR"}}</span>
                        </div>
                      </div>
                    </div>
                </mat-card-content>
                <mat-card-actions >
                  <div>
                    <button mat-raised-button color="primary" (click)="goForward(stepper)" mat-button  [disabled]="!(productList.length)">Procedi</button>
                  </div>
                </mat-card-actions>
            </mat-card>
          </div>
        </div>

      </mat-step>

      <mat-step label="Indirizzo di spedizione">

        <div class="cart-address-container">
          <mat-card *ngFor="let address of addressList" (click)="selectCard(address)" [ngClass]="{'card-selected mat-elevation-z4' : selectedAddress==address}">
            <span class="selection">
              <mat-icon>check_circle</mat-icon>
            </span>
              <mat-card-content>
                <div class="cart-address-content">
                  <span  class="cart-address-title">{{address.title}}</span>
                  <span>{{address.street}}</span>
                  <span>{{address.city}}, {{address.postalCode}}</span>
                  <span>{{address.country}}</span>
                </div>
              </mat-card-content>
          </mat-card>
        </div>

        <div>
          <button mat-raised-button color="primary" matStepperNext [disabled]="!selectedAddress">Procedi</button>
        </div>
      </mat-step>

      <mat-step label="Riepilogo" >
        <div style="display:flex;flex-direction:row;justify-content:center">
        <mat-card style="width: 70%;">
            <mat-card-content>
              <div class="cart-summary-container">
                <div class="cart-summary-general">
                  <div class="cart-summary-total-price">

                    <div class="partial-price-container">
                      <div class="price-row" *ngFor="let cartProduct of productList">
                        <div class="price-row-title">
                          <span class="price-row-product">{{cartProduct.product.name}}</span> x <span class="price-row-quantity">{{cartProduct.quantity}}</span>
                        </div>
                        <div class="price-row-price">
                          <span class="price-row-price-value">{{cartProduct.product.price*cartProduct.quantity | currency:"EUR"}}</span>
                        </div>
                      </div>
                    </div>



                  </div>
                  <div class="cart-summary-address">
                    <div class="cart-address-content" *ngIf="selectedAddress">
                      <span  class="cart-address-title">{{selectedAddress.title}}</span>
                      <span>{{selectedAddress.street}}</span>
                      <span>{{selectedAddress.city}}, {{selectedAddress.postalCode}}</span>
                      <span>{{selectedAddress.country}}</span>
                    </div>
                  </div>
                </div>

                <div class="cart-summary-button">
                  <div class="total-price-container" *ngIf="productList.length">
                    <div class="price-row">
                      <div class="price-row-title">
                        <span class="price-row-product">Totale</span>
                      </div>
                      <div class="price-row-price">
                        <span class="price-row-price-value">{{totalPrice | currency:"EUR"}}</span>
                      </div>
                    </div>
                  </div>
                  <button mat-raised-button color="primary" matStepperNext (click)="generateOrder()">Concludi</button>
                </div>

              </div>
            </mat-card-content>
        </mat-card>
      </div>
      </mat-step>
      </mat-stepper>

</div>
