<div class="user-info-title">
  <span>Aggiungi indirizzo</span>
</div>

<div class="user-info-general">
  <form [formGroup]="addressForm" class="user-info-form" (ngSubmit)="addAddress(addressForm.value)">

    <mat-form-field style="display:none">
      <mat-label>User</mat-label>
      <input matInput placeholder="Casa" formControlName="userId" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Titolo</mat-label>
      <input matInput placeholder="Casa" formControlName="title" required>
    </mat-form-field>


    <mat-form-field >
      <mat-label>Città</mat-label>
      <input matInput placeholder="Roma" formControlName="city" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Via</mat-label>
      <input matInput placeholder="via Nazionale" formControlName="street" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>CAP</mat-label>
      <input matInput placeholder="00100" formControlName="postalCode" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nazione</mat-label>
      <input matInput placeholder="Italia" formControlName="country" required>
    </mat-form-field>

    <button [disabled]="!addressForm.valid" color="primary" mat-raised-button>
      Salva
    </button>
  </form>
</div>
